# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
/src/coreui-new
/src/coreui-icons
/src/coreui-charts

# testing
/coverage
/src/coreui-new
/src/coreui-icons
/src/coreui-charts

# production
/build
/src/coreui-new
/src/coreui-icons
/src/coreui-charts

# misc
.DS_Store
.idea
.env.local
.env.development.local
.env.test.local
.env.production.local
.VSCodeCounter

npm-debug.log*
yarn-debug.log*
yarn-error.log*
debug.log
launch.json
settings.json

#amplify-do-not-edit-begin
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/logs
amplify/mock-data
amplify/backend/amplify-meta.json
amplify/backend/.temp
build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplifyconfiguration.dart
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.secret-*
**.sample
#amplify-do-not-edit-end
.history/
mochawesome-report/
cypress/videos/
cypress/results/
cypress/screenshots/
cypress/report.json
